<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "classes" >
  <test name="testCase1" >
    <classes>
      <class name="wdMethods.FlippartCompleted"/>
      <class name="wdMethods.FlipKartProject"/>
    </classes>
  </test> <!-- Test -->
  <test  name="testCase2">
    <classes>
      <class name="testcase.EditLead"/>
         </classes>
  </test>
</suite> <!-- Suite -->
